:root{
    color-scheme:  light dark;
    background-color: black;

}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid rgb(0, 155, 0);
}
.ng-invalid:not(form).ng-touched {
    border-left: 5px solid red;
}

body{
  background-color: black;
}
